<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/web_project</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="many_to_many.Team"/>
        <mapping class="many_to_many.User"/>

        <mapping class="one_to_many.Cart"/>
        <mapping class="one_to_many.Item"/>

        <mapping class="one_to_one.Customer"/>
        <mapping class="one_to_one.FinancialOperation"/>

    </session-factory>
</hibernate-configuration>